<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title), "Demo app for dumm")%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body> 
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Sample app', '#', id: 'logo' %>
          <nav>
            <ul class="nav pull-right">
              <li> <%= link_to 'Home', '#', id: 'try' %></li>
              <li> <%= link_to 'Help', '#' %></li>
              <li> <%= link_to 'Sign in','#' %></li>
            </ul>
          </nav>
      </div> 
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
  


</html>
